@using ECommerce.Entity
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>List</h2>
@Html.Partial("~/Views/Shared/_ProductList.cshtml")
